<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="pokemon">
    <ion-img [src]="pokemon.sprite"></ion-img>
    <ion-card-header class ="ion-text-center">
      <ion-card-title class="ion-text-capitalize">{{pokemon.name}}</ion-card-title>
    </ion-card-header>
    
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="goBack()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
